[2019-07-23 21:17] gramster opened #67 "Pacifica breaks debugging in Python"
I noticed that if I have Pacifica installed, debugging of other Python files no longer works in VS Code. The application does not start when I hit F5. If I uninstall Pacifica, it works again. Are you capturing the key or something?

[2019-07-30 01:46] int19h opened #77 "Add "extensionDependencies" for vscode-python"
You can specify `"extensionDependencies"` in your [package.json](https://code.visualstudio.com/api/references/extension-manifest) to mark another extension as a prerequisite for yours. Since you depend on Python for VSCode, that should probably go there - its ID is `ms-python.python`.

[2019-07-30 02:21] int19h opened #78 "Use git commit hash in version number"
For builds that are produced by CI, consider adding the short hash of the corresponding git commit to the generated version number. Semver specifically [accommodates](https://semver.org/#spec-item-10) this, and it'll let you distinguish between various internal builds when bug reports start coming it.

You can use something like https://www.npmjs.com/package/version-from-git to automatically gener

[2019-07-30 02:28] int19h opened #79 "Editor toolbar buttons show on all Python files"
The buttons for Open/Run/Deploy to Simulator show in all .py editors once the extension is installed. Since they're not relevant to code that is not intended to run on the simulator, there needs to be some way to only bring them up in the relevant context.

[2019-07-31 05:24] int19h opened #81 "Pacifica output tab is opened whenever Python debugging starts"
If the extension is installed, it opens the "Pacifica Simulator" output tab every time a debug session begins, and prints this:
[code]
This should only happen for Pacifica sessions, not for all Python debug sessions.

[2019-08-01 16:25] #77 closed, assigned to nobody

[2019-08-20 21:26] #81 closed, assigned to nobody

[2019-08-20 21:27] #67 closed, assigned to nobody

[2019-08-23 04:28] #78 closed, assigned to nobody

[2019-08-23 22:42] smmatte opened #149 "Update details page before release"

[2019-11-09 17:41] roblourens opened #155 "Can't see serial output"
I picked up the adafruit device at Ignite and I assume this is where issues should go, let me know if there is somewhere else you want them.

I am trying to open the serial console. When I run "Select serial port", nothing happens and there is no UI feedback. But I do see this in the developer tools:

[code]

It did prompt me to install dependencies earlier and it seems that didn't happen. Ideally

[2019-11-09 17:43] roblourens opened #156 "Include repo in package.json for issues"
You should link to this repo in the package.json to make it easier for people to file issues or submit PRs:

[code]

[2019-11-09 17:45] roblourens opened #157 "Show error when pip fails"
I realized that `pip` is not installed and when the extension tries to install its dependencies, it silently fails. I just have this in the developer tools log:

[code]

Please show an error popup when this fails, I think this is why #155 happened

[2019-11-09 17:47] roblourens opened #158 "Extension logs noisily"
- Install and run the extension
- Open developer tools (Help > Toggle Developer Tools)
- See pages of log messages:

![image](https://user-images.githubusercontent.com/323878/68532715-f1c65380-02ee-11ea-8b6b-0f3f655c8826.png)

- Please only log if necessary. You can also respect vscode's log level or add a setting if you want to enable logging. Or you could log to an update channel (but still be c

[2019-11-09 19:02] roblourens commented on #157
Also with pip installed correctly, I get this error:

[code]

Maybe because I am on a Mac. I deleted that line and it seems to have installed them fine after that.

[2019-11-10 02:20] LukeSlev commented on #158
Hey @roblourens, looking at those logs it looks like those are actually coming from the Python extension which our extension depends on. As a result we don't have too much control over the level of logging that they do. However, you could always post an issue on the Python repo! https://github.com/microsoft/vscode-python

[2019-11-10 02:42] DonJayamanne commented on #158
Agreed, its our Python extension that's logging this info. Can be closed in favor of https://github.com/microsoft/vscode-python/issues/2156

[2019-11-10 02:42] #158 closed, assigned to nobody

[2019-11-10 02:42] DonJayamanne commented on #156
Landed a PR to resolve this https://github.com/microsoft/vscode-python-devicesimulator/pull/159

[2019-11-10 02:44] DonJayamanne commented on #149
The PR adds a link to the repo, along with some additional useful information https://github.com/microsoft/vscode-python-devicesimulator/pull/159

[2019-11-10 02:51] DonJayamanne opened #161 "What are the style guidelines?"
When submitting a PR, there's a section about following style guidelines. However I coudln't find any!

`- [ ] My code follows the style guidelines of this project`

[2019-11-10 06:28] roblourens commented on #158
Sorry, I didn't look closely

[2019-11-10 07:07] iennae commented on #161
We'll work on putting that together. Thank you!

[2019-11-10 07:08] iennae commented on #155
This is exactly where issues should go. Thanks for this feedback and the follow-up issue.

[2019-11-11 15:20] roblourens commented on #156
Thanks! I would have sent a PR but I was on a very bad connection at the time...

[2019-11-12 10:30] element824 opened #162 "Command not found Error"
After Installation, completed pre-requisites,
Start with the “New File” Command, I get the following error.

**"command 'deviceSimulatorExpress.newFile' not found"**

[2019-11-12 23:24] element824 commented on #162
This issue was mainly due to multiple Python Environment.
After cleaning up and installing 32-bit version of Python 3.7.4, I resolved this issue.

[2019-11-12 23:24] #162 closed, assigned to nobody

[2019-11-15 07:55] iennae opened #163 "Investigate issue(s) reported on the marketplace review with regards to virtual environments and pythonPath setting"
From review on the marketplace

`Extension currently does not work with python virtual environments and ignores the "python.pythonPath"  value in settings.  Therefore all python modules must be installed globally, which is something I'm not willing to do for a beta extension.`

[2019-12-10 14:41] rvanlaar opened #166 "Show errors when running linting"
My linter ran into problems. It crashed during the run.
I noticed due to me not seeing any linting errors when there should be some.

VSCode didn't give any indication that something was off.

There was actuall no way in VScode to see these errors.
Since the Python Log only seems to show stdout.

I would expect it work just like the discovery of tests in VSCode.
These show a warning error when the

[2020-01-16 00:25] vandyliu commented on #156
Issue fixed in [PR159](https://github.com/microsoft/vscode-python-devicesimulator/pull/159). Marking it as closed, let us know if you encounter any other issue.

[2020-01-16 00:25] #156 closed, assigned to nobody

[2020-01-16 00:46] vandyliu commented on #149
I'll be closing this issue for now as the original description disappeared and there doesn't seem like there needs to be more work done. Hope that's okay @markAtMicrosoft

Can reopen if necessary.

[2020-01-16 00:46] #149 closed

[2020-01-21 17:52] brettcannon opened #171 "Deal with security alerts"
There are already two PRs to bump the appropriate version to dismiss them.

https://github.com/microsoft/vscode-python-devicesimulator/network/alerts

[2020-01-22 00:58] vandyliu commented on #171
Merged in [165](https://github.com/microsoft/vscode-python-devicesimulator/pull/165) and [164](https://github.com/microsoft/vscode-python-devicesimulator/pull/164).

We'll be faster to merge the dependency PRs next time.

[2020-01-22 00:58] #171 closed, assigned to nobody

[2020-02-11 23:56] andreamah commented on #155
Fixed in #194 . Thanks for letting us know! 🚀

[2020-02-11 23:56] #155 closed, assigned to nobody

[2020-02-18 23:57] smmatte opened #209 "Upgrade serialize-javascript to version 2.1.1 or later."
Manually update
https://github.com/microsoft/vscode-python-devicesimulator/network/alert/package-lock.json/serialize-javascript/open

[2020-02-20 23:15] #209 closed, assigned to nobody

[2020-02-22 05:30] vandyliu commented on #157
Fixed in https://github.com/microsoft/vscode-python-devicesimulator/pull/210

[2020-02-22 05:30] #157 closed, assigned to nobody

[2020-02-26 22:39] vandyliu opened #225 "Play button sometimes doesn't run. Needs another click"
Clicking the "Run" button on the simulator sometimes does not work. Sometimes, it needs to be clicked again.

[2020-02-27 00:34] vandyliu opened #226 "Dropdown on simulator displays wrong file sometimes"
Steps to reproduce:
1. Run microbit_file1.py on microbit simulator.
2. Go to microbit_file2.py and save it.
3. Notice on the simulator, it now says it is `currently running mirocbit_file2.py` when it is running microbit_file1.py

[2020-03-05 05:55] gramster commented on #163
Related, I got this today. I wasn't using the extension but I had just restarted VS Code. I'm guessing this is because I am on MacOS and it looks at my system Python rather than my virtual environments (where I was on 3.8). This is something we need to fix but it can be postponed a little bit while the Python extension team do some reworking of the environment API which should make the fix easier.

[2020-03-05 06:42] iennae commented on #163
@gramster  I was able to select a python virtual environment and not install modules globally. I am on MacOS as well. It sounds like you replicated something similar to the original reporter. Do you have more information about what could be causing the problem?

[2020-03-05 18:55] andreamah commented on #163
Hi @gramster !

It's strange how it happened when you weren't even using the extension, but I can maybe see why you got the error although you had a virtual environment selected. Currently, the extension uses the "python.pythonPath" from the Python extension in order to determine the version to use. However, when you first open VS Code with nothing previously set in a workspace or global settings.

[2020-03-05 23:08] vandyliu opened #246 "On CPX, play_sound function always runs an exception"
Reproduction steps:
- Be on Mac
- Open simulator
- Run code with play_sound("wav_file.wav")
- Get Error

[2020-03-06 00:41] jimbobbennett opened #249 "Can the CircuitPython support be broken out?"
There are a number of devices that support CircuitPython from Adafruit, such as the [PyBadge](https://www.adafruit.com/product/4200) or [PyPortal](https://www.adafruit.com/product/4116).

It would be great to have limited VS Code support for programming these devices including:

* Intellisense and code completion for CircuitPython code
* Integrated serial monitor
* Code deployment

Rather than foc

[2020-03-06 19:31] #246 closed, assigned to nobody

[2020-03-10 01:57] smmatte commented on #249
Hi @jimbobbennett this is a great idea. For the short term we don't have plans to do this work ourselves.

[2020-03-10 17:00] vandyliu commented on #225
Fixed in https://github.com/microsoft/vscode-python-devicesimulator/pull/241

[2020-03-10 17:00] #225 closed, assigned to nobody

[2020-03-10 17:50] xnkevinnguyen commented on #226
It is currently showing the focused file. We plan to remove the dropdown and have "Currently selected file" (This is the file that would run when clicking run simulator)

[2020-03-13 19:17] andreamah commented on #166
Hi @rvanlaar,

Thanks for reaching out, and apologies for the late reply. Could you outline some steps to replicate this issue?

Thanks!

[2020-03-13 19:38] rvanlaar commented on #166
Thank you for getting back to me.

Am I in the right project though? I see that this one is vscode-python-devicesimulator.
My issue is with the vscode-python plugin.

To reproduce. Put a 'raise' in the pylint program, so that it crashes.
And run it via vscode.
VScode won't show any errors regarding the crashed program.

I had two problems, one was that pipenv installed incompatible packages, which

[2020-03-13 19:58] vandyliu commented on #166
It looks like this issue is in the wrong place. Pylint issues with are likely due to the vscode-python extension and should be put here: https://github.com/microsoft/vscode-python/. They are a great team and I have a good feeling they will be able to help you out more than we can. If you have any issues with our extension, feel free to open up a new issue or comment here.

Best of luck!

[2020-03-13 19:58] #166 closed, assigned to nobody

[2020-03-13 20:43] andreamah commented on #79
Hi @int19h ,

Sorry for the late follow-up! After some consideration of this issue, we decided to remove the top toolbar in the extension's recent releases. As for taking the design of the VSCode AL/ML into consideration for improving the toolbar, it is currently on our backlog.

Thanks for the suggestions! 😀

[2020-03-19 07:02] vandyliu opened #268 "Sensor Implementation Requests (Vote in comments for which features you would like for us to support)"
**👍 (+1)  the sensors/features you would like for us to implement in the comments.**

[2020-03-19 07:03] vandyliu commented on #268
IR Sensor for the Circuit Playground Express

[2020-03-19 07:03] vandyliu commented on #268
Tap and Double Tap feature in the Motion Sensor for the Circuit Playground Express

[2020-03-19 07:04] vandyliu commented on #268
Sound Sensor for the Circuit Playground Express

[2020-03-19 23:56] vandyliu commented on #226
Fixed in #263

[2020-03-19 23:56] #226 closed, assigned to xnkevinnguyen

[2020-03-24 07:23] jac141 opened #277 "VSCODE CPX Simulator not working"
Hello

Everytime i hit "cmd + shift + P" to open a "Device Simulator Express: [Circuit Playground Express] New File" it tells me that the command does not exist. In fact though I have made sure to install the extension and all the dependencies none of the commands associated with the device simulator work. I have tried reinstalling multiple times. I am working on ubuntu 18.04. I am not sure what t

[2020-03-24 16:21] xnkevinnguyen commented on #277
Hi Jac,
This issue happens when the VS code python extension is not installed or not activated. Since we rely on this extension it will be needed to use our simulator. Let us know if this works for you!

Thanks for using our extension!

[2020-03-25 18:03] askpatrickw commented on #277
@xnkevinnguyen can you provide a link to that extension? The reason I ask is I am also seeing this issue. I DO have the [Python extension published by Microsoft](https://marketplace.visualstudio.com/items?itemName=ms-python.python) installed.

[code]

[2020-03-25 18:12] jac141 commented on #277
Hello,

How do we activate the VS code python extension? I am pretty sure that I
have it installed. If I do not have it installed how do I do so. I
followed the instructions to install it but it does not work.

Cheers,
Jordan Campbell
UCSD PhD Candidate
4047078440
jac141@eng.ucsd.edu

On Tue, Mar 24, 2020 at 9:22 AM Kevin Nguyen <notifications@github.com>
wrote:

[2020-03-26 17:22] askpatrickw commented on #277
SO.... no I wasn't ;-)
I was hitting ⌘P not ⇧⌘P so I was not at the right prompt.
If DO use ⌘P and then > I can bring up the Device Simulator commands.
Same things if I use ⇧⌘P.

[2020-03-26 18:15] jac141 commented on #277
Hello,

I am hitting the right buttons and it is not working.

On Thu, Mar 26, 2020, 10:22 Patrick <notifications@github.com> wrote:

[2020-03-26 18:29] xnkevinnguyen commented on #277
Hi Jordan,
This is the link to the python extension if you don't have it already installed. https://marketplace.visualstudio.com/items?itemName=ms-python.python

Can you let me know which Python version you're using and if you have pip.

[2020-03-26 18:41] vandyliu commented on #268
Compass Sensor for micro:bit

[2020-03-26 18:41] jac141 commented on #277
Hello,

I have 3.7 and I installed pip on my computer

On Thu, Mar 26, 2020, 11:29 Kevin Nguyen <notifications@github.com> wrote:

[2020-03-26 18:42] vandyliu commented on #268
Sound Sensor for micro:bit

[2020-03-27 01:11] jac141 commented on #277
Hello

I have all the right stuff installed.

Cheers,
Jordan Campbell
UCSD PhD Candidate
4047078440
jac141@eng.ucsd.edu

On Thu, Mar 26, 2020 at 11:41 AM Jordan Campbell <jac141@eng.ucsd.edu>
wrote:

[2020-03-27 02:51] vandyliu commented on #277
Are you using the extension from the marketplace or trying to compile from the source code?

[2020-03-27 02:52] jac141 commented on #277
I don't know I downloaded the vs code. Installed it and tried to open it. I
am just following the instructions I Saw

On Thu, Mar 26, 2020, 19:51 Vandy Liu <notifications@github.com> wrote:

[2020-03-27 19:17] xnkevinnguyen commented on #277
Ok, we have identified the issue on Ubuntu. We are currently working on a fix. We'll give you an update when it is fixed. This will most likely occur next week.

Again, Thank you for using our extension and for your patience :)

[2020-03-31 23:20] xnkevinnguyen commented on #277
Fix has been deployed to production version. Let us know if it fixed your issue.

[2020-03-31 23:27] jac141 commented on #277
Hello Kevin,

It seems to be re-installing. Does it matter that it says preview next to
it or not.

Cheers,
Jordan Campbell
UCSD PhD Candidate
4047078440
jac141@eng.ucsd.edu

On Tue, Mar 31, 2020 at 4:20 PM Kevin Nguyen <notifications@github.com>
wrote:

[2020-03-31 23:34] jac141 commented on #277
Hello Kevin,

Well first I got a new error saying that I didn't have the right python
interpreter. And it says install 3.7+ and I have 3.7.7 as it shows in the
picture.

Cheers,
Jordan Campbell
UCSD PhD Candidate
4047078440
jac141@eng.ucsd.edu

On Tue, Mar 31, 2020 at 4:27 PM Jordan Campbell <jac141@eng.ucsd.edu> wrote:

[2020-04-02 21:46] xnkevinnguyen commented on #277
Closed as this has been communicated to have been fixed for Ubuntu

[2020-04-02 21:46] #277 closed, assigned to nobody

[2020-04-02 21:48] xnkevinnguyen commented on #79
The editor toolbar buttons have been removed from the extension.

[2020-04-02 21:48] #79 closed

[2020-04-16 01:38] profbrady opened #332 "Version 2020.0.36197 dependencies won't install error"
I updated to the latest version today and cannot run the simulator. When dependencies are installed there is a failure. Falling back to the previous version works.

[2020-04-16 04:54] andreamah commented on #332
Hi @profbrady ,

I'm sorry to hear that! I just have a few questions:
- At which step does the extension fail?
- Which OS are you running?
- Which version of VS Code do you have?
- Which version of Python are you running?

[2020-04-16 13:13] profbrady commented on #332
After installing the extension and reloading, I opened the simulator. I said yes to the message that asked if I wanted to install dependencies. Then I received this message

"Dependency download could not be completed. Functionality may be limited. Please review the installation docs.”

So, I tried opening the simulator again and selected the CPX board. This time it opened, but when I try to run i

[2020-04-16 14:30] andreamah commented on #332
Hi!

Thanks for the detailed response. When you get the "Dependency download could not be completed. Functionality may be limited. Please review the installation docs.” message, is there also another pop-up asking to install the dependencies directly on your selected interpreter?

[2020-04-16 14:46] profbrady commented on #332
I will check again, but I do recall getting a message and choosing yes. I ran through the process with one of my students via Zoom just a few minutes ago. They were starting with a fresh Python and VS Code install and installed the extension. The latest one gav3 the same errors. Falling back to the previous version got them going. I have 41 other students who will be struggling with this issue thi

[2020-04-16 15:40] xnkevinnguyen commented on #332
Hi @profbrady ,

We are currently having difficulties replicating that exact issues when upgrading from the previous version to the current version on windows with the same python version you are using.

 Since it is our priority to get this working for you, having a quick call with you would be the fastest way to identify the issue and fix it. Let me know if you are available for a call today or

[2020-04-16 19:24] vandyliu commented on #332
We have found the issue and are working on a fix #333 . If you desperately need a fix, you can use a previous version of the extension or install git (which should fix the issue).

[2020-04-16 21:10] smmatte commented on #332
Thank you @profbrady for reporting the issue.

[2020-04-16 21:46] jac141 opened #334 "Says that I can't deploy code to device as if there is no device"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-16 22:42] vandyliu commented on #334
Hello @jac141

Can you give us a little more information about the problem?
1. What OS are you on?
2. What device are you trying to deploy to?

[2020-04-16 23:21] xnkevinnguyen commented on #332
@profbrady Should be fixed with the latest version on the market place with this hotfix
https://github.com/microsoft/vscode-python-devicesimulator/pull/333.

Let me know if the issue has been fixed on your side. I will close this issue in 24h otherwise.

[2020-04-17 00:08] profbrady commented on #332
It seems to be working. I have the latest version running successfully on Windows and Mac OS. Thanks for the quick turn around.

____
Brian

[2020-04-17 02:42] xnkevinnguyen commented on #332
Thank you for the update!

[2020-04-17 02:42] #332 closed, assigned to xnkevinnguyen

[2020-04-18 04:43] andreamah commented on #163
Addressed in #338 . If the Python path is not specifically set, it will search for the version of Python that is under "python3" (if available). This should fix the issue 😊.

I will wait one business day and close this if there are no further comments.

[2020-04-19 18:50] profbrady opened #342 "Match virtual sensors ranges and value types to actual device"
The CPX and CPB light sensors have a range of 0-320 but the simulator's range is 0-255. The CPX and CPB accelerometer values are floats so that you can actually read +/-9.8 for an axis when  stationary and the axis is vertical. Off the top of my head I don't recall what the temperature sensor range is on the physical device, but the value from it is a float whereas the simulator uses an integer.

[2020-04-19 21:36] xnkevinnguyen opened #343 "Feature to modify rotation axis"
Something I would like to see regarding the accelerometer is the ability to change the rotation about an axis and have the associated acceleration values change in proportion to the amount of rotation. Rotation values of 0, 0, 0 would define an orientation of the board as if it were lying flat on a table with the buttons facing up. Or as seen on the screen with the +z axis facing the user. In this

[2020-04-19 21:37] xnkevinnguyen opened #344 "CPX slide switch seems to be backwards"
The slide switch also seems to be backwards from this Adafruit guide.
https://learn.adafruit.com/circuitpython-made-easy-on-circuit-playground-express/slide-switch

Referencing this issue https://github.com/microsoft/vscode-python-devicesimulator/issues/342 made by @profbrady.

[2020-04-19 21:38] xnkevinnguyen commented on #342
Thank you for the feedback Brian! I have created separate issues to keep track of individual bugs/suggestions. We will keep you updated on fixes and new features regarding each of those issues.

[2020-04-20 18:08] xnkevinnguyen opened #347 "On debug mode CLUE, terminal screen is not properly printed"
Currently on debug mode, the terminal screen is not showing as it is not communicated with socket IO like other images.

Repro code to run on debug mode:
[code]
current: No display is shown
expected: Display terminal with print statements

[2020-04-20 18:36] xnkevinnguyen opened #348 "Slideshow advance displays images in the wrong order using PlaybackDirection"
When setting the playbackdirection to forward then backward, the slideshow will not have a consistent order.

Repro code:
[code]
**Actions: click button b, then a,**
current: image 1 => image 2 -> image 3
expected: image 1 -> image 2 -> image 1

[2020-04-20 23:32] xnkevinnguyen commented on #342
This PR is addressing the sensor range value for light and we have added a one-decimal precision for values that are float on their input. #346 This will be updated on production during the week.

[2020-04-20 23:34] xnkevinnguyen commented on #344
This issue is fixed with #350 . Will be deployed to production during the week

[2020-04-20 23:34] #344 closed, assigned to nobody

[2020-04-20 23:35] #342 closed, assigned to nobody

[2020-04-20 23:37] profbrady commented on #342
Great. Thanks a lot.

Brian

[2020-04-21 16:25] andreamah commented on #163
Closing because of no further feedback.

[2020-04-21 16:25] #163 closed, assigned to nobody

[2020-04-21 16:54] andreamah commented on #347
Fixed in #351

[2020-04-21 16:54] andreamah commented on #348
Fixed in #350

[2020-04-21 17:33] #347 closed, assigned to xnkevinnguyen, andreamah

[2020-04-21 17:33] #348 closed, assigned to andreamah

[2020-04-21 20:47] vandyliu opened #354 "Toolbar tool tips have inconsistencies"
This is most notable for the micro:bit simulator.
1. Some icons have two tooltips (one bigger and one smaller) and some only have one. We should probably just have one.
2. Sometimes when there are two tooltips, they have contradicting titles.
3. Temperature sensor and light sensor tooltips are typed like constant names instead of titles.
![Code_qPjKEvIvMm](https://user-images.githubusercontent.com

[2020-04-21 20:49] vandyliu opened #355 "C value for color in CLUE should be 65535 as its max value."
Currently, the C value for color in CLUE's max value is 255. On the actual CLUE device, it can reach up to 65535. We should update our simulator accordingly.

[2020-04-21 20:51] vandyliu opened #356 "Text/input boxes for simulating sensor data should be improved"
![Code_H4M9CCLZMs](https://user-images.githubusercontent.com/33995460/79912611-229ad080-83d7-11ea-9a21-c893a5b1095e.png)
The value in the box is -1000.4
We should adjust the styles of the box so that the whole number fits in the box nicely.
This is in the accelerometer sensor section for the CLUE.

[2020-04-22 15:28] xnkevinnguyen commented on #354
Closed with this PR #359

[2020-04-22 15:28] #354 closed, assigned to xnkevinnguyen

[2020-04-22 15:28] xnkevinnguyen commented on #355
Closed with this PR #359

[2020-04-22 15:28] #355 closed, assigned to xnkevinnguyen

[2020-04-23 23:48] xnkevinnguyen commented on #342
@profbrady The latest release has the sensor input changes for precision with 1 decimal. The CPX switch has also been inverted.

[2020-04-23 23:50] profbrady commented on #342
I saw that earlier today. Thank you very much.

Brian

[2020-04-27 05:51] eishan05 commented on #356
Do you mean dynamically adjust the width, or give the box enough width to begin with?

[2020-05-04 19:53] #356 closed, assigned to nobody

[2020-05-05 16:20] JD-RD opened #365 "No IntelliSense for microbit module on Mac OS Mojave 10.14.5"
Hi,

I'd like to be able to use the IntelliSense when coding the micro:bit. It is not working for me on my main mac machine but I was able to make it (IntelliSense) work on a virtual Windows 10 machine yesterday. It makes me think it might be related to mac...

What is working:
- Debug (output through the simulator)
- Deploy to the micro:bit

What is **NOT** working:
- IntelliSense and linting

En

[2020-05-05 18:07] JD-RD commented on #365
I was able to make the IntelliSense work by editing the code from the "Getting started" a little:

I changed:

`from microbit import *`

to:

`from micropython import microbit`

The only thing is this code won't work on the micro:bit itself. The micro:bit would need:

`from microbit import *`

I am not sure why my Python env is not "seeing" microbit module without having to type micropython though

[2020-05-05 19:58] JD-RD commented on #365
What worked for me in the end:

1. Go to your `/Users/<user>.vscode/extensions/ms-python.devicesimulatorexpress-2020.0.36321/out/micropython` folder and move its content to the `/Users/<user>.vscode/extensions/ms-python.devicesimulatorexpress-2020.0.36321/out/` folder.
2. Remove the `/Users/<user>.vscode/extensions/ms-python.devicesimulatorexpress-2020.0.36321/out/micropython` folder.
3. In the .v

[2020-05-05 19:58] #365 closed, assigned to nobody

[2020-05-06 19:47] kattni opened #366 "Getting started tab navigation"
This may be a limitation of VS Code.

When I open the Getting started tab, it provides a drop down menu to choose what I would like to "Learn more about:". I choose the board I am interested in, copy a code snippet, and click on my `code.py` file to paste the code snippet. When I return to the Getting Started tab it seems to reload, and return to the initial state with the drop down menu available

[2020-05-06 19:49] kattni opened #367 "Getting started tab for Circuit Playground Express references micro:bit"
The first instruction on the Getting started tab for the Circuit Playground Express is "Import the micro:bit library to use it (This is required)".

Presumably it should say "Import the Circuit Playground library to use it (This is required)"

![GettingStartedCPX](https://user-images.githubusercontent.com/7865090/81221604-12771980-8fb1-11ea-803d-6a296d1bedcd.png)

[2020-05-06 20:06] kattni opened #368 "Running simulator fails with ValueEerror: unknown locale: UTF-8"
To everyone who has worked on Device Simulator Express: Amazing job! I'm really glad to see you're continuing to maintain it.

I am having some issues getting it to run. I attempted to run the Device Simulator Express for Circuit Playground Express. The simulator will not run and it results in the following:
[code]

I tried updating my Python environment globally to 3.7.6 on my computer (this vers

[2020-05-06 21:12] xnkevinnguyen commented on #368
This seems to be an issue that happens on MacOS with older python versions and not on the extension side. ( https://github.com/pypa/pipenv/issues/187 https://coderwall.com/p/-k_93g/mac-os-x-valueerror-unknown-locale-utf-8-in-python). Can you confirm that this issue happens on MacOS with version 3.7 only and that it works on 3.7.6?

If that's the case, we might bump up minimum python version. Taggi

[2020-05-06 21:37] xnkevinnguyen commented on #366
This is a great suggestion, persisting the state is be possible. I'll assign myself to it :)

[2020-05-06 23:57] askpatrickw commented on #268
GPIO Pins for the Circuit Playground Express

[2020-05-07 00:39] askpatrickw commented on #268
play_tone, start_tone, stop_tone for the CP Express

[2020-05-07 17:19] xnkevinnguyen commented on #366
should be persisting with #371

[2020-05-07 17:19] #366 closed, assigned to xnkevinnguyen

[2020-05-07 17:19] xnkevinnguyen commented on #367
Fixed with #370

[2020-05-07 17:19] #367 closed, assigned to nobody

[2020-05-07 20:46] kattni commented on #368
@xnkevinnguyen I am looking deeper into the issue. It turns out it may be an issue on my end, but whatever it is, it's not being handled gracefully by VS Code or the extension. I will let you know what I figure out.

[2020-05-07 23:14] askpatrickw opened #372 "REPL Support"
CircuitPython (and MP) support a REPL
https://learn.adafruit.com/welcome-to-circuitpython/the-repl

Access to the REPL is extremely handy for discovery of device and library capabilities.
And allows for adhoc learning and programming without saving to a file every time.

[2020-05-09 17:11] mess-maker opened #373 "autocompletion in virtual env"
Hi,

not sure if it is the place to ask this kind of question, sorry I'm new to github

I've created a project directory
created a python venv inside the directory
activated the venv
created a new .py file by the command "device simulator express : new file"
(so via vs code inside the venv)
answered yes to the pop up to install the required files

all seems to work, the simulator work the py scrip

[2020-05-12 06:00] askpatrickw commented on #372
FYI: This works in the CircuitPython Extension from https://github.com/joedevivo/vscode-circuitpython

[2020-05-15 09:26] Josverl commented on #249
@jimbobbennett
I suggest that you taske a look at
- [pymakr](https://marketplace.visualstudio.com/items?itemName=pycom.Pymakr)
  this add-in allows you work with hardware genric and pycom boards
- [micropy-cli](https://pypi.org/project/micropy-cli/)
which adds micropython intellisense (for any firmware) to you projects using
- [Micropython-stubber](https://github.com/josverl/micropython-stubber)

[2020-05-16 05:32] mjbvz opened #374 "Adopt VS Code's 'asWebviewUri' API"
Hi, I maintain VS Code's Webview API

## Issue
Our telemetry suggests that your extension uses webviews and may be loading resources in these webviews using hardcoded `vscode-resource:` URIs. These URIs have some important limitations and don't work properly when VS Code is run in a browser. We are also making changes in the desktop version of VS Code that may cause these URIs to not work properly

[2020-05-19 03:09] andreamah commented on #373
Hi @mess-maker ! You don't need to create a venv by yourself, since the extension should make one for you if you don't have one.

If you decide that you want to use your own custom venv, please do the following:
1. [Re-select the Python interpreter](https://code.visualstudio.com/docs/python/environments) to point to your venv's interpreter
2. Restart VS Code or select "install extension dependenci

[2020-05-24 18:40] lukequeenan commented on #373
I'm seeing a similar problem where `from microbit import *` is unrecognized. However I can find the modules under `from micropython.microbit import *`.

The latter import works for Intellisense and the simulator but I need to change it back to `from microbit import*` when deploying to the actual microbit.

[2020-05-26 13:13] xnkevinnguyen commented on #374
Thank you for reporting the issue. PR #375 addresses this issue.

[2020-06-12 10:05] s3111560 commented on #268
compass sensor for micro:bit

[2020-06-22 19:41] andreamah commented on #374
Should be resolved, please open a new issue if there are any further problems.

[2020-06-22 19:41] #374 closed, assigned to nobody

[2020-07-12 09:54] pinarodrigo commented on #268
Bluetooth & Radio Sensor for microbit

[2020-07-13 12:08] KokoDoko commented on #368
I get the exact same error message when running the simulator. Also, the device simulator switches to python 3.7.2 automatically. It shows the following message: `Automatically updated interpreter to point to extension's virtual environment`.

[2020-07-15 11:22] sskagemo opened #377 "Installation of Extension Dependencies fails"
I have installed the Device Simulator Express Extension, but when trying to install the extension dependencies, it fails with the message:
"Dependency download could not be completed. Functionality may be limited. Please review the installation docs."

I use VS Code on Windows 10, but connected to remote Ubuntu 20.04 on WSL2, Python 3.8.2. I also have the VS Code Python Extension for WSL.

[2020-07-26 20:09] diggee17 opened #379 "problem importing CPX library."
Hi,  I'm following our tutorial.   I already had  python set up in VSC but I'm trying to use the Device Simulator now.  I'm getting an error when I hit play.  It seems the system can't find the library error on line:
``from adafruit_circuitplayground import cp

[2020-07-28 08:42] erongd commented on #373
Have exactly the same issue on Mac with latest VSCode and Extensions. The same seems to work on raspberry pi though.

[2020-08-02 20:10] kraegmyles commented on #379
Hi - I have the same issue. VSCode on Windows 10 running python 3.8.2. Have you found an answer? Regards.

[2020-08-07 04:16] nnja commented on #368
@iennae Are you still the current maintainer? If you are, can you investigate this issue?

[2020-08-14 01:32] UnicycleDumpTruck commented on #268
Sound output (buzzer) for the CLUE! please :)

[2020-08-24 21:31] silvasteve110 commented on #268
(+1) speaker for circuit playground express

[2020-08-26 23:45] gramster commented on #161
I added a CODING_STANDARDS.md. Not sure if the code here actually adheres to these standards itself but I think they are what we should be doing, so consider them aspirational for now.

[2020-08-26 23:45] #161 closed, assigned to nobody

[2020-08-26 23:47] gramster commented on #249
We do have a long term vision for this project to be more easily extensible to new devices. However, as an intern project (currently without interns) its unlikely to happen soon.

[2020-08-26 23:48] gramster commented on #334
Closing due to no response from OP.

[2020-08-26 23:48] #334 closed, assigned to nobody

[2020-08-26 23:51] gramster commented on #373
The extension doesn't use the "real" libraries but has its own "fake" versions that work with the simulator. There's probably a structural difference you are encountering, that we need to fix.

[2020-09-11 21:50] jfield12050 commented on #268
Sound Sensor for the CLUE, please!

[2020-11-11 15:22] FrankSAURET commented on #377
Hi i have same problem. I have install licrobit statoed and it's working.

[2020-11-14 17:17] kiransweng commented on #377
Hi , I have same issue. Windows 10 OS , received error "Dependency download could not be completed. Functionality may be limited. Please review the installation docs. upon running the basic code.
Any workaround?

[2020-11-15 18:03] FrankSAURET commented on #377
583/5000
Yes and no. I succeeded three times but each time I do so many things that I cannot reproduce it and suddenly it works.
First I create a working folder, then I install "Device simulator express", then I create a python file in my folder and I install "micro: bit from Statped" which puts libraries in my working folder with the "micro:bit prepare" command.
I close vscode, I restart it. I un

[2020-12-28 08:16] m-farkas commented on #268
GPIO (Pins) for micro:bit

[2021-01-16 14:21] bcopy opened #386 "Add support for Machine module"
It would be great if the simulator supported the machine module ( https://microbit-micropython.readthedocs.io/en/v1.0.1/machine.html )

It can be used to collect the board string identifier and simulate reset.

It can return simulated values too, but right now, all the simulator does is refuse to import the module.

[2021-01-29 04:43] McSackeri commented on #377
I was getting the same error with Python 3.9 installed.  Used the VSCode Developer Tools (under Help) to look at the console and saw this:

Edited the file ".vscode\extensions\ms-python.devicesimulatorexpress-2020.0.36321\out\requirements.txt" and changed the line

Pillow==7.0.0
to
Pillow==8.1.0

Saved the file, restarted VSCode, and ran the dependencies command again, and it completed without err

[2021-02-09 01:39] dhust commented on #377
@McSackeri Where is that file at? In my project's .vscode folder I only see cpx.json and settings.json. Did I not install something that creates these files? Thanks.

[2021-02-22 00:28] julianrendell opened #389 "Extension breaks debugging for non Device-Simulator Python Workspaces"
Using MacOS 11.2.1, Python 3.9.1 (via home-brew), create a simple Python project (I used a virtual env.)

After Pillow hack (see #377 ), extension should be "silently" added (even though this workspace is not intended for use with Device Simulator...)

Try to debug a simple "hello world" python script -> broken debug session. Unable to step, no variables showing in debug pane, etc.

In the develop

[2021-02-22 00:43] julianrendell commented on #389
Just created a clean workspace, and opened a simulator via the command palette. Basic code works (though prospector/pylint is arguing things are undefined, even though intellisense is pulling up the right documentation. I obviously have some more set up to learn!)

[2021-02-27 20:18] MrMazzone opened #390 "529 Error for Micro:bit V2"
Cannot deploy to Micro:bit V2.  Produces 529 error: The application image is not compatible with the target.

Interface Version: 0255

[2021-02-27 20:40] MrMazzone opened #391 "Feature Request: Deploy to device button"
It would be awesome to have a `deploy to device` button next to the run button, so users (especially students) do not need to use the Command Pallet to deploy each time they update their code.
![image](https://user-images.githubusercontent.com/40954645/109399591-c6b3a900-7911-11eb-99bb-c964fd02de3a.png)

Not as important, but would be cool if there was a button the opened the simulator and ran cod

[2021-05-03 16:35] gabrielle-ohlson opened #398 "microbit: `[ERROR] name 'pin0' is not defined`"
When trying to run a micropython file using this extension and referencing any of the pins (e.g., `pin0`), I receive the following error in the console:
[code]
Here's an example of code that produces this error:
[code]

and the resulting error:
[code]

[2021-05-04 16:54] lszomoru opened #399 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-07 11:52] lszomoru opened #400 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-06-04 02:19] evstarMC opened #405 "Project working directory issue (file usage/importing)"
The simulated project seems to execute from within the base directory of the computer instead of where the python file is located. This can be seen by seen by using `print(os.getcwd())`. This makes importing other scripts/images/assets a bit over-complicated.

[2021-09-07 11:45] BigMan3552 opened #412 "device simulator express: python 3 not found error"
## Environment data

-   VS Code version: 1.60
-   Extension version (available under the Extensions sidebar): N/A
-   OS and version: Windows 10 64 bit
-   Python version (& distribution if applicable, e.g. Anaconda): 3.9.7 64 bit
-   Type of virtual environment used (N/A | venv | virtualenv | conda | ...): N/A
-   Relevant/affected Python packages and their versions: N/A
-   Relevant/affected Py

[2021-10-06 18:29] FrankSAURET opened #415 "Unable to install dependencies"
in the src\requirements.txt file on  github i can see line 8 -> Pillow==8.1.1 but on my PC (i have install device simulator today) there is always -> Pillow==7.0.0

If i manually change Pillow version from 7.0.0 to 8.1.1 i can install the dependecies correctly.

Why ?

[2021-11-02 22:38] Gadgetguy2000 opened #416 "I do not know how to use the device simulator - can someone please explain?"
I have installed visual studio, python etc. and the device simulator extension.

Then what? How do I actually use this?

I would like to simulate a micro:bit but found no details whatsoever about how to do it...

Also: it seems that maybe Visual Studio does not see Python - although it is in the PATH - maybe that is also an issue? But how do I fix it? Any other applications sees Python...

Thank y

[2021-11-07 11:31] stephcob opened #417 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `devicesimulatorexpress`
- Extension Version: `2020.0.36321`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.62.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\Ifeanyi\AppData\Local\Temp\ms-python.devicesimulatorexpress-unresponsive.cpuprofile.txt`

Find more details here: https://github.co

[2021-11-07 11:35] stephcob opened #418 "Extension causes high cpu load"
[ms-python.devicesimulatorexpress-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-python-devicesimulator/files/7492165/ms-python.devicesimulatorexpress-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `devicesimulatorexpress`
- Extension Version: `2020.0.36321`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.62.0`

:warning: Make sure to *

[2021-11-22 10:48] jbirbal-skydom commented on #415
Did you find a solution?

[2021-11-22 12:43] FrankSAURET commented on #415
Not yet.

[2021-11-22 15:53] jbirbal-skydom commented on #415
okay fixed it!!
Change your pillow version in ~\.vscode\extensions\ms-python.devicesimulatorexpress-2020.0.36321\out\requirements.txt to 8.1.0 or above

[2021-11-23 07:17] FrankSAURET commented on #415
I have already done this manually but I am surprised, when I install the plugin, the "requirements.txt" file is not good although the online version is corrected. I am a computer science teacher and I cannot ask my students to do this, they are beginners.